.webNav {
	background-color: #eeeeee;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 75vh;
	width: 5vw;
	border-radius: 0.5rem;
	position: fixed;
	left: 2vw;
	top: 12vh;
}

.phoneNav {
	display: none;
}

.week {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.dailyHabitsList {
	position: relative;
	top: 100px;
}

.day {
	font-size: xx-large;
}

.calendar {
	display: flex;
	background-color: slategray;
}

.mainPage {
	background-color: #F0E3CA;
	opacity: 50%;
	/* color: #E900FF; */
	border-radius: 0.5rem;
	height: 75vh;
	width: 90vw;
	position: fixed;
	left: 8.5vw;
	top: 12vh;
}

/* .mainLogo {
  position: absolute;
  left: 48px;
  top: 2vh;
  height: 8vh;
  width: 4vw;
} */

.sideNavIcon {
	width: 85%;
	height: 100%;
	margin-left: 6px;
	/* opacity: 100%; */
}

.logoInNav {
	width: 100%;
	height: 100%;
	margin-left: 3px;
	/* opacity: 100%; */
}

.bodyEle {
	margin: 0;
	background: url("../assets/bg.jpg");
	box-sizing: "border-box";
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
  z-index: -1;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}

.description {
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	font-size: 0.85rem;
	max-width: var(--max-width);
	width: 100%;
	z-index: 2;
	font-family: var(--font-mono);
}

.description a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.description p {
	position: relative;
	margin: 0;
	padding: 1rem;
	background-color: rgba(var(--callout-rgb), 0.5);
	border: 1px solid rgba(var(--callout-border-rgb), 0.3);
	border-radius: var(--border-radius);
}

.code {
	font-weight: 700;
	font-family: var(--font-mono);
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(33%, auto));
	width: var(--max-width);
	max-width: 100%;
}

.card {
	padding: 1rem 1.2rem;
	border-radius: var(--border-radius);
	background: rgba(var(--card-rgb), 0);
	border: 1px solid rgba(var(--card-border-rgb), 0);
	transition: background 200ms, border 200ms;
}

.card span {
	display: inline-block;
	transition: transform 200ms;
}

.card h2 {
	font-weight: 600;
	margin-bottom: 0.7rem;
}

.card p {
	margin: 0;
	opacity: 0.6;
	font-size: 0.9rem;
	line-height: 1.5;
	max-width: 34ch;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 4rem 0;
}

.center::before {
	background: var(--secondary-glow);
	border-radius: 50%;
	width: 480px;
	height: 360px;
	margin-left: -400px;
}

.center::after {
	background: var(--primary-glow);
	width: 240px;
	height: 180px;
	z-index: -1;
}

.center::before,
.center::after {
	content: "";
	left: 50%;
	position: absolute;
	filter: blur(45px);
	transform: translateZ(0);
}

.logo,
.thirteen {
	position: relative;
}

.thirteen {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75px;
	height: 75px;
	padding: 25px 10px;
	margin-left: 16px;
	transform: translateZ(0);
	border-radius: var(--border-radius);
	overflow: hidden;
	box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
	content: "";
	position: absolute;
	z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
	animation: 6s rotate linear infinite;
	width: 200%;
	height: 200%;
	background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
	inset: 0;
	padding: 1px;
	border-radius: var(--border-radius);
	background: linear-gradient(
		to bottom right,
		rgba(var(--tile-start-rgb), 1),
		rgba(var(--tile-end-rgb), 1)
	);
	background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
	.card:hover {
		background: rgba(var(--card-rgb), 0.1);
		border: 1px solid rgba(var(--card-border-rgb), 0.15);
	}

	.card:hover span {
		transform: translateX(4px);
	}
}

@media (prefers-reduced-motion) {
	.thirteen::before {
		animation: none;
	}

	.card:hover span {
		transform: none;
	}
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
	.content {
		padding: 4rem;
	}

	.grid {
		grid-template-columns: 1fr;
		margin-bottom: 120px;
		max-width: 320px;
		text-align: center;
	}

	.card {
		padding: 1rem 2.5rem;
	}

	.card h2 {
		margin-bottom: 0.5rem;
	}

	.center {
		padding: 8rem 0 6rem;
	}

	.center::before {
		transform: none;
		height: 300px;
	}

	.description {
		font-size: 0.8rem;
	}

	.description a {
		padding: 1rem;
	}

	.description p,
	.description div {
		display: flex;
		justify-content: center;
		position: fixed;
		width: 100%;
	}

	.description p {
		align-items: center;
		inset: 0 0 auto;
		padding: 2rem 1rem 1.4rem;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
		background: linear-gradient(
			to bottom,
			rgba(var(--background-start-rgb), 1),
			rgba(var(--callout-rgb), 0.5)
		);
		background-clip: padding-box;
		backdrop-filter: blur(24px);
	}

	.description div {
		align-items: flex-end;
		pointer-events: none;
		inset: auto 0 0;
		padding: 2rem;
		height: 200px;
		background: linear-gradient(
			to bottom,
			transparent 0%,
			rgb(var(--background-end-rgb)) 40%
		);
		z-index: 1;
	}
}

@media (prefers-color-scheme: dark) {
	.vercelLogo {
		filter: invert(1);
	}

	.logo,
	.thirteen img {
		filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
	}
}

@keyframes rotate {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

/*Habits Page Styles */
.habitMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.habits-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.habitCards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 5rem;
}

.habitCardContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	width: 300px;
	height: 200px;
	margin-right: 1rem;
}

.habitCardContainer:last-child {
	margin-right: 0;
}

.habitCardImage {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-right: 1rem;
}

.habitCardContent {
	display: flex;
	flex-direction: column;
}

.habitCardTitle {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.habitCardDescription {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.habitCardDescription i {
	margin-right: 0.5rem;
	color: #333;
}

.habitCardStreak {
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #333;
}

.habitCardLink {
	margin-top: auto;
}

.habitCardLink a {
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
	font-size: 1rem;
	font-weight: bold;
}

.habitCardLink a:hover {
	background-color: #333;
	color: #fff;
}

.habitCardContainer {
	margin: 0;
	padding: 0;
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
	.habitCardContainer {
		margin-right: 1rem;
	}
}

/* Followers Page Styles */
.followersMain {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.followers-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2rem;
}

.followersCards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 5rem;
}

.followersCardContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	width: 300px;
	height: 200px;
	margin-right: 1rem;
}

.followersCardContainer:last-child {
	margin-right: 0;
}

.followersCardImage {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-right: 1rem;
}

.followersCardContent {
	display: flex;
	flex-direction: column;
}

.followersCardTitle {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.followersCardDescription {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.followersCardDescription i {
	margin-right: 0.5rem;
	color: #333;
}

.followersCardStreak {
	margin-bottom: 1rem;
	font-size: 1rem;
	color: #333;
}

.followersCardLink {
	margin-top: auto;
}

.followersCardLink a {
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
	font-size: 1rem;
	font-weight: bold;
}

.followersCardLink a:hover {
	background-color: #333;
	color: #fff;
}

/* Display habit cards horizontally */
.followersCardContainer {
	margin: 0;
	padding: 0;
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
	.followersCardContainer {
		margin-right: 1rem;
	}
}

/* Profile Page Styles */
.profileHeader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.profilePicture {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.profileUsername {
	font-size: 3rem;
	font-weight: bold;
	margin-top: 1rem;
	text-align: center;
	color: #46bcde;
}

.profileName {
	font-size: 2rem;
	margin-top: 0.5rem;
	text-align: center;
	color: #46bcde;
}

.profileStreak {
	font-size: 3rem;
	font-weight: bold;
	margin-top: 1rem;
	text-align: center;
	color: #46bcde;
}

.profileLine {
	height: 3px;
	width: 300%;
	background-color: #ccc;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: -20rem;
}

.profileLinks {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.profileButton {
	padding: 0.5rem 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	color: #333;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 1rem;
	justify-content: space-between;
}

.profileButton:hover {
	background-color: #333;
	color: #fff;
}

/* ChatGPT window */

.popupGPT {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
  }
  
  .messagesGPT {
    height: 200px;
    overflow: auto;
    padding: 10px;
  }
  
  .messagesGPT > div {
    margin-bottom: 10px;
  }
  
  .role {
    font-weight: bold;
  }
  
  .inputGPT {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 60px);
    padding: 10px;
    padding-left: 55px;
  }
  
  .inputGPT > input {
    flex: 1;
    margin-right: 10px;
    margin-left: 10px;
    width: calc(100% - 60px);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
  }
  
  .inputGPT > button {
    border: none;
    background-color: #007aff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inputGPT > button:hover {
    background-color: #0062cc;
  }

  .closeButtonGPT {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgb(221, 2, 2);
    color: white;
    padding: 5px;
    border-left: 0px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
  }

  .closeButtonGPT:hover {
    background-color: #bc1502;
  }

@media (max-width: 500px) {
	.phoneNav {
		background-color: #eeeeee;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 9vh;
		width: 90vw;
		border-radius: 0.5rem;
		position: fixed;
		left: 5vw;
		top: 2vh;
	}

	.webNav {
		display: none;
	}

	.bodyEle {
		margin: 0;
		background: url("../assets/bg-phone.jpg");
		box-sizing: "border-box";
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;
		width: 100vw;
    z-index: -1;
	}
	.mainPage {
		background-color: #E7E6E1;
		opacity: 50%;
		/* color: white; */
		border-radius: 0.5rem;
		height: 85vh;
		width: 90vw;
		position: fixed;
		top: 13.5vh;
		left: 5vw;
	}

	.sideNavIcon {
		display: none;
	}

	.logoInNav {
		display: none;
	}

	.week {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.day {
		font-size: xx-large;
	}

	/* .dayCompleted {
    color: lime;
  }
  .dayInProgress{
    color: yellow
  } */
}
